APP_NAME="Innovation City Live Dashboard API"
ENVIRONMENT="development"
DEBUG=true

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/INC_live_dashboard
AUTO_CREATE_TABLES=false
SEED_SAMPLE_DATA=false
