APP_NAME="Innovation City Live Dashboard API"
ENVIRONMENT="development"
DEBUG=true

DATABASE_URL=postgresql+psycopg://postgres:D%40Postgres@localhost:5433/INC_live_dashboard
AUTO_CREATE_TABLES=true
SEED_SAMPLE_DATA=true
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
FACE_WEB_SEARCH_ENABLED=false